<div class="row">
    <div class="col-sm-10">
        <strong>Patient: Create</strong>
    </div>
    <div class="col-sm-2">
        <a ui-sref="patient-list" class="btn btn-link btn-sm pull-right"><span class="glyphicon glyphicon-list"></span>
            List</a>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
        <form name="FormPatient" ng-submit="add()" novalidate>
            <div class="row">
                <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
                    <div class="radio text-info"><label>Fields marked with (*) are required</label></div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 col-md-4 col-xs-4 col-lg-4">
                    <div class="form-group"
                         ng-class="{'has-error' : FormPatient.FirstName.$invalid && (FormPatient.FirstName.$dirty || isSubmitted)}">
                        <label for="FirstName">First Name<strong class="required">*</strong></label>
                        <input type="text" id="FirstName" name="FirstName" class="form-control" ng-model="patient.firstName" ng-required="true" maxlength="100">
                        <span ng-show="FormPatient.FirstName.$error.required && (FormPatient.FirstName.$dirty || isSubmitted)" class="help-block err-msg">
                            <strong><small>First name is a required field!</small></strong></span>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 col-xs-4 col-lg-4">
                    <div class="form-group">
                        <label for="MiddleName">Middle Name</label>
                        <input type="text" id="MiddleName" name="MiddleName" class="form-control" ng-model="patient.middleName">
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 col-xs-4 col-lg-4">
                    <div class="form-group"
                         ng-class="{'has-error' : FormPatient.LastName.$invalid && (FormPatient.LastName.$dirty || isSubmitted)}">
                        <label for="LastName">Last Name<strong class="required">*</strong></label>
                        <input type="text" id="LastName" name="LastName" class="form-control" ng-model="patient.lastName" ng-required="true" maxlength="100">
                        <span ng-show="FormPatient.LastName.$error.required && (FormPatient.LastName.$dirty || isSubmitted)" class="help-block err-msg">
                            <strong><small>Last name is a required field!</small></strong></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 col-md-4 col-xs-4 col-lg-4">
                    <div class="form-group"
                         ng-class="{'has-error' : FormPatient.DOB.$invalid && (FormPatient.DOB.$dirty || isSubmitted)}">
                        <label for="DOB">Date of Birth<strong class="required">*</strong></label>

                        <div class="row">
                            <div class="col-sm-12">
                                <input type="text" id="DOB" name="DOB" kendo-date-picker k-format="'dd/MM/yyyy'" ng-model="patient.dateOfBirth"
                                       ng-required="true"
                                       check-date>
                                <span ng-show="FormPatient.DOB.$error.required && (FormPatient.DOB.$dirty || isSubmitted)"
                                      class="help-block err-msg">
                                    <strong>
                                        <small>Date of birth is a required field!</small>
                                    </strong></span>
                                <span ng-show="FormPatient.DOB.$error.checkDate && (FormPatient.DOB.$dirty || isSubmitted)"
                                      class="help-block err-msg">
                                    <strong>
                                        <small>Date of birth is not in valid date format i.e DD/MM/YYYY !</small>
                                    </strong></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 col-xs-4 col-lg-4">
                    <div class="form-group"
                         ng-class="{'has-error' : FormPatient.Gender.$invalid && (FormPatient.Gender.$dirty || isSubmitted)}">
                        <label for="Gender">Gender<strong class="required">*</strong></label>

                        <div class="row">
                            <div class="col-sm-12">
                                <select id="Gender" name="Gender"
                                        kendo-drop-down-list
                                        k-data-source="genderList",
                                        k-data-value-field="'key'"
                                        k-data-text-field="'value'"
                                        k-option-label="'Select...'" k-ng-model="patient.gender" ng-required="true">
                                </select>
                        <span ng-show="FormPatient.Gender.$error.required && (FormPatient.Gender.$dirty || isSubmitted)"
                              class="help-block err-msg">
                            <strong>
                                <small>Gender is a required field!</small>
                            </strong></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 col-xs-4 col-lg-4">
                    <div class="form-group">
                        <label for="MaritalStatus">Marital Status</label>

                        <div class="row">
                            <div class="col-sm-12">
                                <select id="MaritalStatus" name="MaritalStatus"
                                        kendo-drop-down-list
                                        k-data-source="maritalList",
                                        k-data-value-field="'key'"
                                        k-data-text-field="'value'"
                                        k-option-label="'Select...'"
                                        k-ng-model="patient.maritalStatus">
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
                    <div class="form-group" ng-class="{'has-error' : FormPatient.Email.$invalid && (FormPatient.Email.$dirty || submitted)}">
                        <label for="Email">Email</label>
                        <input type="text" id="Email" name="Email" class="form-control"
                               ng-model="patient.email"
                               ng-pattern="/^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/">

                        <span ng-show="FormPatient.Email.$error.pattern && (FormPatient.Email.$dirty || submitted)"
                           class="help-block err-msg">
                            <strong>
                                <small>Invalid email address!</small>
                            </strong></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
                    <div class="form-group">
                        <label for="Address">Address</label>
                        <textarea id="Address" name="Address" class="form-control" rows="5" cols="50"
                                  ng-model="patient.address"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 col-md-4 col-xs-4 col-lg-4">
                    <div class="form-group">
                        <label for="City">City</label>
                        <input type="text" id="City" name="City" class="form-control" placeholder="City" ng-model="patient.city">
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 col-xs-4 col-lg-4">
                    <div class="form-group">
                        <label for="Country">Country</label>

                        <div class="row">
                            <div class="col-sm-12">
                                <select id="Country" name="Country" kendo-drop-down-list
                                        k-data-source="countryList"
                                        k-data-value-field="'id'"
                                        k-data-text-field="'name'"
                                        k-option-label="'Select...'"
                                        k-ng-model="patient.country">
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 col-xs-4 col-lg-4">
                    <div class="form-group">
                        <label for="Nationality">Nationality</label>
                        <input type="text" id="Nationality" name="Nationality" class="form-control" ng-disabled="true" ng-value="evalNationality(patient.country.id)">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 col-md-4 col-xs-4 col-lg-4">
                    <div class="form-group" ng-class="{'has-error' : FormPatient.CellPhone.$invalid && (FormPatient.CellPhone.$dirty || isSubmitted)}">
                        <label for="CellPhone">Cell Phone<strong class="required">*</strong></label>

                        <input type="text" id="CellPhone" name="CellPhone" class="form-control" ng-required="true"
                               ng-model="patient.cellPhone" ng-pattern="/^[789]\d{9}$/">
                        <span ng-show="FormPatient.CellPhone.$error.required && (FormPatient.CellPhone.$dirty || isSubmitted)"
                              class="help-block err-msg">
                        <strong>
                            <small>Cell Phone is a required field!</small>
                        </strong></span>

                        <span ng-show="FormPatient.CellPhone.$error.pattern && (FormPatient.CellPhone.$dirty || submitted)"
                           class="help-block err-msg">
                            <strong>
                                <small>Invalid Cell Number!</small>
                            </strong></span>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 col-xs-4 col-lg-4">
                    <div class="form-group" ng-class="{'has-error' : FormPatient.AlternatePhone.$invalid && (FormPatient.AlternatePhone.$dirty || submitted)}">
                        <label for="AlternatePhone">Alternate Phone</label>
                        <input type="text" id="AlternatePhone" name="AlternatePhone" class="form-control"
                               ng-model="patient.alternatePhone"
                               ng-pattern="/^[789]\d{9}$/" >
                        <span ng-show="FormPatient.AlternatePhone.$error.pattern && (FormPatient.AlternatePhone.$dirty || submitted)"
                           class="help-block err-msg">
                            <strong>
                                <small>Invalid Alternate Phone Number!</small>
                            </strong></span>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 col-xs-4 col-lg-4">
                    <div class="form-group" ng-class="{'has-error' : FormPatient.HomePhone.$invalid && (FormPatient.HomePhone.$dirty || submitted)}">
                        <label for="HomePhone">Home Phone</label>
                        <input type="text" id="HomePhone" name="HomePhone" class="form-control"
                               ng-model="patient.homePhone" ng-pattern="/^[0-9]\d{2,4}-\d{6,8}$/">
                        <span ng-show="FormPatient.HomePhone.$error.pattern && (FormPatient.HomePhone.$dirty || submitted)"
                           class="help-block err-msg">
                            <strong>
                                <small>Invalid Home Phone Number!</small>
                            </strong></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 colmd-12 colxs-12 col-lg-12">
                    <div class="form-group">
                        <label for="ReferredBy">Referred By</label>
                        <input type="text" id="ReferredBy" name="ReferredBy" class="form-control" ng-model="patient.referredBy">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
                    <div class="form-group">
                        <label for="AdditionalNotes">Additional Notes</label>
                        <textarea id="AdditionalNotes" name="AdditionalNotes" class="form-control" rows="5" cols="50"
                                  ng-model="patient.additionalNotes"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
                    <div class="form-group">
                        <button type="submit" class="btn btn-success">Add</button>
                        <button type="button" class="btn btn-warning" ng-click="reset()">Reset</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script type="text/ng-template" id="alertModalContent.html">
    <div class="modal-header alert {{alert.type}}">
        <h3 class="modal-title">{{alert.header}}</h3>
    </div>
    <div class="modal-body">
        <p>{{alert.message}}</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
    </div>
</script>
