<div class="row">
    <div class="col-sm-10 col-md-10 col-xs-10 col-lg-10">
        <strong>Patient: Detail</strong>
    </div>
    <div class="col-sm-2 col-md-2 col-xs-2 col-lg-2">
        <a ui-sref="patient-create" class="btn btn-link btn-sm pull-right"><span class="glyphicon glyphicon-plus"></span> Create</a>
        <a ui-sref="patient-list" class="btn btn-link btn-sm pull-right"><span class="glyphicon glyphicon-list"></span> List</a>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
        <form name="FormPatient" ng-submit="update()" novalidate>
            <div class="row">
                <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
                    <div class="radio text-info">
                        <label ng-show="isEdit" >Fields marked with (*) are required</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 col-md-4 col-xs-4 col-lg-4">
                    <div class="form-group"
                         ng-class="{'has-error' : FormPatient.FirstName.$invalid && (FormPatient.FirstName.$dirty || isSubmitted)}">
                        <label for="FirstName">First Name<strong class="required" ng-show="isEdit">*</strong></label>
                        <input type="text" id="FirstName" name="FirstName" ng-show="isEdit" class="form-control" ng-model="patient.firstName" ng-required="true" maxlength="100">
                        <span class="radio" ng-show="!isEdit">{{patient.firstName}}</span>
                        <span ng-show="FormPatient.FirstName.$error.required && (FormPatient.FirstName.$dirty || isSubmitted)" class="help-block err-msg">
                            <strong><small>First name is a required field!</small></strong></span>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 col-xs-4 col-lg-4">
                    <div class="form-group">
                        <label for="MiddleName">Middle Name</label>
                        <input type="text" id="MiddleName" name="MiddleName" ng-show="isEdit" class="form-control" ng-model="patient.middleName">
                        <span class="radio" ng-show="!isEdit">{{patient.middleName}}</span>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 col-xs-4 col-lg-4">
                    <div class="form-group"
                         ng-class="{'has-error' : FormPatient.LastName.$invalid && (FormPatient.LastName.$dirty || isSubmitted)}">
                        <label for="LastName">Last Name<strong class="required" ng-show="isEdit">*</strong></label>
                        <input type="text" id="LastName" ng-show="isEdit" name="LastName" class="form-control" ng-model="patient.lastName" ng-required="true" maxlength="100">
                        <span class="radio" ng-show="!isEdit">{{patient.lastName}}</span>
                        <span ng-show="FormPatient.LastName.$error.required && (FormPatient.LastName.$dirty || isSubmitted)" class="help-block err-msg">
                            <strong><small>Last name is a required field!</small></strong></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 col-md-4 col-xs-4 col-lg-4">
                    <div class="form-group"
                         ng-class="{'has-error' : FormPatient.DOB.$invalid && (FormPatient.DOB.$dirty || isSubmitted)}">
                        <label for="DOB">Date of Birth<strong class="required" ng-show="isEdit">*</strong></label>

                        <div class="row">
                            <div class="col-sm-12">
                                <input type="text" id="DOB" ng-show="isEdit" name="DOB" kendo-date-picker k-format="'dd/MM/yyyy'" ng-model="patient.dateOfBirth"
                                       ng-required="true"
                                       check-date>
                                <span class="radio" ng-show="!isEdit">{{patient.dateOfBirth}}</span>
                                <span ng-show="FormPatient.DOB.$error.required && (FormPatient.DOB.$dirty || isSubmitted)"
                                      class="help-block err-msg">
                                    <strong>
                                        <small>Date of birth is a required field!</small>
                                    </strong></span>
                                <span ng-show="FormPatient.DOB.$error.checkDate && (FormPatient.DOB.$dirty || isSubmitted)"
                                      class="help-block err-msg">
                                    <strong>
                                        <small>Date of birth is not in valid date format i.e DD/MM/YYYY !</small>
                                    </strong></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 col-xs-4 col-lg-4">
                    <div class="form-group"
                         ng-class="{'has-error' : FormPatient.Gender.$invalid && (FormPatient.Gender.$dirty || isSubmitted)}">
                        <label for="Gender">Gender<strong class="required" ng-show="isEdit">*</strong></label>

                        <div class="row">
                            <div class="col-sm-12">
                                <select id="Gender" name="Gender" ng-show="isEdit"
                                        kendo-drop-down-list
                                        k-data-source="genderList",
                                        k-data-value-field="'key'"
                                        k-data-text-field="'value'"
                                        k-option-label="'Select...'" k-ng-model="patient.gender" ng-required="true">
                                </select>
                                <span class="radio" ng-show="!isEdit">{{(patient.gender.value == 'Select...') ? '' : patient.gender.value}}</span>
                        <span ng-show="FormPatient.Gender.$error.required && (FormPatient.Gender.$dirty || isSubmitted)"
                              class="help-block err-msg">
                            <strong>
                                <small>Gender is a required field!</small>
                            </strong></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 col-xs-4 col-lg-4">
                    <div class="form-group">
                        <label for="MaritalStatus">Marital Status</label>

                        <div class="row">
                            <div class="col-sm-12">
                                <select id="MaritalStatus" name="MaritalStatus" ng-show="isEdit"
                                        kendo-drop-down-list
                                        k-data-source="maritalList",
                                        k-data-value-field="'key'"
                                        k-data-text-field="'value'"
                                        k-option-label="'Select...'"
                                        k-ng-model="patient.maritalStatus">
                                </select>
                                <span class="radio" ng-show="!isEdit">{{(patient.maritalStatus.value == 'Select...') ? '' : patient.maritalStatus.value}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
                    <div class="form-group" ng-class="{'has-error' : FormPatient.Email.$invalid && (FormPatient.Email.$dirty || submitted)}">
                        <label for="Email">Email</label>
                        <input type="text" id="Email" name="Email" class="form-control" ng-show="isEdit"
                               ng-model="patient.email"
                               ng-pattern="/^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/">
                        <span class="radio" ng-show="!isEdit">{{patient.email}}</span>
                        <span ng-show="FormPatient.Email.$error.pattern && (FormPatient.Email.$dirty || submitted)"
                              class="help-block err-msg">
                            <strong>
                                <small>Invalid email address!</small>
                            </strong></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
                    <div class="form-group">
                        <label for="Address">Address</label>
                        <textarea id="Address" name="Address" class="form-control" rows="5" cols="50" ng-show="isEdit"
                                  ng-model="patient.address"></textarea>
                        <div class="panel panel-default" ng-show="!isEdit && patient.address.length > 0" style="margin-bottom: 0px;">
                            <div class="panel-body" ng-bind-html="patient.address | NewLineFilter"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 col-md-4 col-xs-4 col-lg-4">
                    <div class="form-group">
                        <label for="City">City</label>
                        <input type="text" id="City" name="City" class="form-control" placeholder="City" ng-show="isEdit" ng-model="patient.city">
                        <span class="radio" ng-show="!isEdit">{{patient.city}}</span>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 col-xs-4 col-lg-4">
                    <div class="form-group">
                        <label for="Country">Country</label>

                        <div class="row">
                            <div class="col-sm-12">
                                <select id="Country" name="Country" kendo-drop-down-list ng-show="isEdit"
                                        k-data-source="countryList"
                                        k-data-value-field="'id'"
                                        k-data-text-field="'name'"
                                        k-option-label="'Select...'"
                                        k-ng-model="patient.country">
                                </select>
                                <span class="radio" ng-show="!isEdit">{{(patient.country.name === 'Select...') ? '' : patient.country.name}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 col-xs-4 col-lg-4">
                    <div class="form-group">
                        <label for="Nationality">Nationality</label>
                        <input type="text" id="Nationality" ng-show="isEdit" name="Nationality" class="form-control" ng-disabled="true" ng-value="evalNationality(patient.country.id)">
                        <span class="radio" ng-show="!isEdit">{{evalNationality(patient.country.id)}}</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 col-md-4 col-xs-4 col-lg-4">
                    <div class="form-group" ng-class="{'has-error' : FormPatient.CellPhone.$invalid && (FormPatient.CellPhone.$dirty || isSubmitted)}">
                        <label for="CellPhone">Cell Phone<strong class="required" ng-show="isEdit">*</strong></label>

                        <input type="text" ng-show="isEdit" id="CellPhone" name="CellPhone" class="form-control" ng-required="true"
                               ng-model="patient.cellPhone" ng-pattern="/^[789]\d{9}$/">
                        <span class="radio" ng-show="!isEdit">{{patient.cellPhone}}</span>
                        <span ng-show="FormPatient.CellPhone.$error.required && (FormPatient.CellPhone.$dirty || isSubmitted)"
                              class="help-block err-msg">
                        <strong>
                            <small>Cell Phone is a required field!</small>
                        </strong></span>

                        <span ng-show="FormPatient.CellPhone.$error.pattern && (FormPatient.CellPhone.$dirty || submitted)"
                              class="help-block err-msg">
                            <strong>
                                <small>Invalid Cell Number!</small>
                            </strong></span>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 col-xs-4 col-lg-4">
                    <div class="form-group" ng-class="{'has-error' : FormPatient.AlternatePhone.$invalid && (FormPatient.AlternatePhone.$dirty || submitted)}">
                        <label for="AlternatePhone">Alternate Phone</label>
                        <input type="text" ng-show="isEdit" id="AlternatePhone" name="AlternatePhone" class="form-control"
                               ng-model="patient.alternatePhone"
                               ng-pattern="/^[789]\d{9}$/" >
                        <span class="radio" ng-show="!isEdit">{{patient.alternatePhone}}</span>
                        <span ng-show="FormPatient.AlternatePhone.$error.pattern && (FormPatient.AlternatePhone.$dirty || submitted)"
                              class="help-block err-msg">
                            <strong>
                                <small>Invalid Alternate Phone Number!</small>
                            </strong></span>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 col-xs-4 col-lg-4">
                    <div class="form-group" ng-class="{'has-error' : FormPatient.HomePhone.$invalid && (FormPatient.HomePhone.$dirty || submitted)}">
                        <label for="HomePhone">Home Phone</label>
                        <input type="text" ng-show="isEdit" id="HomePhone" name="HomePhone" class="form-control"
                               ng-model="patient.homePhone" ng-pattern="/^[0-9]\d{2,4}-\d{6,8}$/">
                        <span class="radio" ng-show="!isEdit">{{patient.homePhone}}</span>
                        <span ng-show="FormPatient.HomePhone.$error.pattern && (FormPatient.HomePhone.$dirty || submitted)"
                              class="help-block err-msg">
                            <strong>
                                <small>Invalid Home Phone Number!</small>
                            </strong></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 colmd-12 colxs-12 col-lg-12">
                    <div class="form-group">
                        <label for="ReferredBy">Referred By</label>
                        <input type="text" ng-show="isEdit" id="ReferredBy" name="ReferredBy" class="form-control" ng-model="patient.referredBy">
                        <span class="radio" ng-show="!isEdit">{{patient.referredBy}}</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
                    <div class="form-group">
                        <label for="AdditionalNotes">Additional Notes</label>
                        <textarea id="AdditionalNotes" name="AdditionalNotes" class="form-control" rows="5" cols="50" ng-show="isEdit"
                                  ng-model="patient.additionalNotes"></textarea>
                        <div class="panel panel-default" ng-show="!isEdit && patient.additionalNotes.length > 0" style="margin-bottom: 0px;">
                            <div class="panel-body" ng-bind-html="patient.additionalNotes | NewLineFilter"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div>
                    <button type="submit" class="btn btn-success" ng-show="isEdit">Update</button>
                    <button type="button" class="btn btn-warning" ng-show="isEdit" ng-click="cancel()">Cancel</button>
                    <button type="button" class="btn btn-success" ng-show="!isEdit" ng-click="isEdit = true;">Edit</button>
                    <button type="button" class="btn btn-danger" ng-click="confirm('sm', patient.id)">Delete</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script type="text/ng-template" id="alertModalContent.html">
    <div class="modal-header alert {{alert.type}}">
        <h3 class="modal-title">{{alert.header}}</h3>
    </div>
    <div class="modal-body">
        <p>{{alert.message}}</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
    </div>
</script>

<script type="text/ng-template" id="confirmModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title">Confirmation</h3>
    </div>
    <div class="modal-body">
        <p class="text-warning">Are you sure you want to delete this patient?</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
</script>