<div class="row">
    <div class="col-sm-10">
        <strong>Patient: List</strong>
    </div>
    <div class="col-sm-2">
        <a ui-sref="patient-create" class="btn btn-default btn-sm pull-right" tooltip-placement="top" uib-tooltip="Add New Patient">
            <img src="images/Users-Add-User-icon-16.png">
        </a>
        <!--<a ui-sref="patient-create" class="btn btn-link btn-sm pull-right"><span class="glyphicon glyphicon-plus"></span> Create</a>-->
    </div>
</div>
<hr>
<div class="row">
    <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <form role="form" name="FormPatientFilter" ng-submit="searchPatients()">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group form-group-sm">
                                <label for="Name">Name</label>
                                <input type="text" id="Name" class="form-control input-sm" ng-model="criteria.name">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="Email">Email</label>
                                <input type="text" id="Email" class="form-control input-sm" ng-model="criteria.email">
                            </div>
                        </div>
                        <div class="col-sm-4">

                            <div class="form-group form-group-sm">
                                <label for="ReferredBy">Referred By</label>
                                <input type="text" id="ReferredBy" class="form-control input-sm" ng-model="criteria.referredBy">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group form-group-sm">
                                <label for="Contact">Contact No</label>
                                <input type="text" id="Contact" class="form-control input-sm" ng-model="criteria.contact">
                            </div>
                        </div>
                        <div class="col-sm-4 margin-top">
                            <div class="radio">
                                <label class="">
                                    <input type="radio" ng-model="criteria.matchAll" ng-value="true">Match All
                                </label>
                                <label class="">
                                    <input type="radio" ng-model="criteria.matchAll" ng-value="false">Match Any
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-4 margin-top">
                            <button type="submit" class="btn btn-primary btn-sm" tooltip-placement="top" uib-tooltip="Search">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                            <button type="button" class="btn btn-warning btn-sm" tooltip-placement="top" uib-tooltip="Clear Filters" ng-click="resetFilters()">
                                <span class="glyphicon glyphicon-erase"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row" ng-show="enableDeleteButton()">
    <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
        <button type="button" class="btn btn-danger btn-sm" ng-click="confirm('sm')" tooltip-placement="top" uib-tooltip="Delete Selected">
            <span class="glyphicon glyphicon-trash"></span>
        </button>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
        <div class="alert alert-info text-center" ng-show="patientList.length <= 0">
            No Records Found
        </div>
        <div class="table-responsive">
            <table class="table table-hover" ng-show="patientList.length > 0">
                <thead>
                <tr>
                    <th ng-hide="true">ID</th>
                    <th><input type="checkbox" style="margin-left: 17%;" ng-model="isAllSelected" ng-change="selectAll()"></th>
                    <th>Name</th>
                    <th>Date Of Birth</th>
                    <th>Email</th>
                    <th>Cell Phone</th>
                    <th>Referred By</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="patient in patientList">
                    <td ng-hide="true">{{patient.id}}</td>
                    <td align="center">
                        <div class="checkbox">
                            <label><input type="checkbox" ng-model="patient.isChecked" ng-change="evalSelectAll()"></label>
                        </div>
                    </td>
                    <td><span class="radio">{{patient.name}}</span></td>
                    <td><span class="radio">{{patient.dateOfBirth}}</span></td>
                    <td><span class="radio">{{patient.email}}</span></td>
                    <td><span class="radio">{{patient.cellPhone}}</span></td>
                    <td><span class="radio">{{patient.referredBy}}</span></td>
                    <td>
                        <span class="radio">
                            <a ui-sref="patient-detail({id:patient.id})" class="btn btn-default btn-sm" tooltip-placement="top" uib-tooltip="View Patient Details">
                                <span class="glyphicon glyphicon-edit"></span>
                            </a>&nbsp;&nbsp;
                            <a ui-sref="appointment-create({id:patient.id})" class="btn btn-default btn-sm" tooltip-placement="top" uib-tooltip="Book Appointment">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </a>
                        </span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div style="z-index: 5000;" id="loadingDiv" ng-show="loading">
    <table align="center">
        <tr>
            <td style="padding-top:270px;" align="center"><img src="images/wait.gif" style="width: 60%"/></td>
        </tr>
    </table>
</div>

<script type="text/ng-template" id="confirmModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title">Confirmation</h3>
    </div>
    <div class="modal-body">
        <p class="text-warning">Are you sure you want to delete this/these patient(s)?</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
</script>
