<div class="row">
    <div class="col-sm-12">
        <strong>Appointment: Create</strong>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-sm-6 col-md-6 col-xs-6 col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Patient Information</h3>
            </div>
            <div class="panel-body">
                <dl class="dl-horizontal">
                    <dt>Name</dt>
                    <dd>{{patient.name}}</dd>
                    <dt>Date Of Birth</dt>
                    <dd>{{patient.dateOfBirth}}</dd>
                    <dt>Referred By</dt>
                    <dd>{{patient.referredBy}}</dd>
                </dl>
            </div>
            <!-- List group -->
            <ul class="list-group" ng-show="patient.appointmentHistoryList.length === 0">
                <li class="list-group-item"><strong>No appointment history</strong></li>
            </ul>
            <!-- Table -->
            <table class="table table-bordered" ng-show="patient.appointmentHistoryList.length > 0">
                <caption>Previous Appointment History</caption>
                <tr>
                    <th class="text-center">Sl.No</th>
                    <th class="text-center">Appointment Date</th>
                    <th></th>
                </tr>
                <tr ng-repeat="appointment in patient.appointmentHistoryList">
                    <td class="text-center">{{$index + 1}}</td>
                    <td>{{appointment.dateTime | date:"dd/MM/yyyy 'at' h:mm a"}}</td>
                    <td class="text-center">
                        <a href="javascript:void(0);" class="btn btn-default btn-sm"
                           tooltip-placement="top" uib-tooltip="Edit Patient Appointment" ng-click="showAppointmentDetail($index)">
                            <span class="glyphicon glyphicon-edit"></span>
                        </a>
                        <a href="javascript:void(0);" class="btn btn-default btn-sm"
                           tooltip-placement="top" uib-tooltip="Delete Patient Appointment" ng-click="confirm('sm', appointment.id)">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="col-sm-6 col-md-6 col-xs-6 col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Book Appointment</h3>
            </div>
            <div class="panel-body">
                <div class="col-sm-6">
                    <div class="form-group form-group-sm">
                        <kendo-calendar k-ng-model="patient.newAppointment.bookDate" k-disable-dates="filterDates"></kendo-calendar>
                    </div>
                </div>
                <div class="col-sm-offset-1 col-sm-5">
                    <div class="form-group form-group-sm">
                        <label>Appointment Date</label>
                        <input type="text" class="form-control" ng-value="formatAppointmentDate()" ng-disabled="true" style="width: 75%;">
                    </div>
                    <div class="form-group form-group-sm">
                        <label>Appointment Time</label>
                        <span class="radio">
                            <input kendo-time-picker
                                   k-ng-model="patient.newAppointment.bookTime"
                                   k-format="'hh:mm tt'"
                                   k-interval="15"
                                   ng-model="temp.bookTime" style="width: 75%;" /></span>
                    </div>
                    <button type="button" class="btn btn-primary btn-sm" ng-click="add()" ng-show="!isEdit">Add</button>
                    <button type="button" class="btn btn-primary btn-sm" ng-click="update()" ng-show="isEdit">Update</button>
                    <button type="button" class="btn btn-warning btn-sm" ng-click="cancel()" ng-show="isEdit">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="alertModalContent.html">
    <div class="modal-header alert {{alert.type}}">
        <h3 class="modal-title">{{alert.header}}</h3>
    </div>
    <div class="modal-body">
        <p>{{alert.message}}</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
    </div>
</script>

<script type="text/ng-template" id="confirmModalContent.html">
    <div class="modal-header alert alert-warning">
        <h3 class="modal-title">Confirmation</h3>
    </div>
    <div class="modal-body">
        <p>Are you sure you want to delete this appointment?</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
</script>

